<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet: Firebase + website + online audio -->
    <uses-permission
        android:name="android.permission.INTERNET" />

    <!-- Android 13+ notifications -->
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Background playback -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <!-- Read music from device -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- Android 12 and below -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />


    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:label="MAKYAMA MEDIA"
        android:theme="@style/Theme.Makyama">

        <!-- =================================================
             MAIN ACTIVITY
        ================================================== -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>


        <!-- =================================================
             MEDIA PLAYBACK SERVICE
             Notification + Lock Screen + Background Audio
        ================================================== -->

        <service
            android:name=".PlaybackService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">

            <intent-filter>

                <action
                    android:name="androidx.media3.session.MediaSessionService" />

            </intent-filter>

        </service>

    </application>

</manifest>
